body {
  background: linear-gradient(to bottom, #8c8c8c, #131313);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 850px;
  min-height: 500px;
  background-color: #2d2d2d;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  justify-content: right;
}

.banner__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222224;
}
.banner__img--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 16px;
}

.banner__login {
  width: 60%;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__header {
  text-align: center;
}
.banner__titulo {
  color: white;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}
.banner__descripcion {
  color: #e0e0e0;
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 300;
}

.banner__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-group--inline {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group__label {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.form-group--Sex {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.form-group__radio {
  width: 20px;
  height: 20px;
  accent-color: #4d97bf;
}
.form-group__radio-label {
  color: hsl(200, 9%, 81%);
  font-size: 1rem;
  font-weight: 400;
  margin-right: 10px;
}
.form-group__input {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  color: #ffffff;
  background-color: #5f5f5f;
  border: none;
  border-radius: 4px;
}

.form-group__input::placeholder {
  color: #d0d0d0b8;
  font-weight: 300;
}

.form-group--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.form-group__checkbox {
  width: 20px;
  height: 20px;
  accent-color: #4d97bf;
}
.form-group__checkbox-label {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.banner__button {
  width: 100%;
  padding: 12px 0;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.3s, transform 0.3s;
}
.banner__button:hover {
  background-color: #3a3a3a;
  transform: scale(1.02);
}

.banner__forgetpassword {
  width: 100%;
  color: #b3b3b3;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  margin-top: 8px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__forgetpassword:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .banner {
    width: 90%;
    min-height: auto;
  }
  .banner__img {
    display: none;
  }
  .banner__login {
    width: 100%;
    padding: 24px;
  }

}
